* {
  font: normal 1em sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  min-height: 100vh;
  width: 100vw;
}

/* Parallax background */
html {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1050px 1225px #FFF, 1805px 1184px #FFF, 562px 1404px #FFF, 1416px 1259px #FFF, 1318px 688px #FFF, 217px 40px #FFF, 433px 1903px #FFF, 730px 885px #FFF, 1222px 650px #FFF, 838px 1520px #FFF, 1805px 1098px #FFF, 581px 1846px #FFF, 643px 24px #FFF, 40px 818px #FFF, 355px 76px #FFF, 1903px 771px #FFF, 1303px 563px #FFF, 19px 87px #FFF, 550px 1251px #FFF, 231px 1513px #FFF, 1475px 1484px #FFF, 1536px 1469px #FFF, 740px 1474px #FFF, 1497px 225px #FFF, 1268px 1444px #FFF, 1896px 1412px #FFF, 1790px 1721px #FFF, 1919px 216px #FFF, 110px 1659px #FFF, 1295px 1778px #FFF, 1362px 993px #FFF, 696px 1594px #FFF, 126px 292px #FFF, 965px 40px #FFF, 1275px 1989px #FFF, 179px 1637px #FFF, 1126px 131px #FFF, 1486px 311px #FFF, 1661px 1728px #FFF, 1845px 1371px #FFF, 242px 435px #FFF, 317px 981px #FFF, 605px 588px #FFF, 978px 1227px #FFF, 1451px 484px #FFF, 1449px 1652px #FFF, 487px 1589px #FFF, 730px 1281px #FFF, 342px 1796px #FFF, 170px 170px #FFF, 951px 345px #FFF, 1838px 1835px #FFF, 842px 330px #FFF, 304px 1211px #FFF, 743px 7px #FFF, 604px 926px #FFF, 1573px 1976px #FFF, 1534px 988px #FFF, 754px 110px #FFF, 1029px 374px #FFF, 1121px 1329px #FFF, 606px 786px #FFF, 56px 92px #FFF, 1986px 1536px #FFF, 1654px 350px #FFF, 1244px 180px #FFF, 294px 331px #FFF, 701px 1598px #FFF, 1333px 1646px #FFF, 770px 727px #FFF, 33px 1373px #FFF, 382px 60px #FFF, 1965px 1634px #FFF, 1549px 1212px #FFF, 1503px 850px #FFF, 1626px 1976px #FFF, 1485px 1863px #FFF, 747px 476px #FFF, 20px 641px #FFF, 1534px 461px #FFF, 360px 727px #FFF, 978px 461px #FFF, 778px 70px #FFF, 1806px 1607px #FFF, 1227px 472px #FFF, 41px 628px #FFF, 350px 1587px #FFF, 1286px 508px #FFF, 1838px 142px #FFF, 1163px 1206px #FFF, 269px 119px #FFF, 274px 337px #FFF, 765px 1423px #FFF, 1590px 1784px #FFF, 1206px 1209px #FFF, 106px 63px #FFF, 1769px 1022px #FFF, 1769px 982px #FFF, 1897px 556px #FFF, 1188px 1455px #FFF, 4px 407px #FFF, 1070px 328px #FFF, 352px 161px #FFF, 1585px 575px #FFF, 1879px 705px #FFF, 169px 420px #FFF, 1358px 1575px #FFF, 1381px 1534px #FFF, 150px 1338px #FFF, 1002px 1723px #FFF, 1069px 550px #FFF, 1853px 1491px #FFF, 477px 581px #FFF, 1993px 470px #FFF, 32px 1187px #FFF, 1965px 761px #FFF, 1154px 1825px #FFF, 1689px 1284px #FFF, 1227px 1915px #FFF, 1917px 15px #FFF, 475px 808px #FFF, 1134px 1697px #FFF, 548px 1909px #FFF, 1640px 139px #FFF, 359px 1780px #FFF, 1868px 1169px #FFF, 1627px 733px #FFF, 1598px 1043px #FFF, 642px 1096px #FFF, 497px 1823px #FFF, 264px 133px #FFF, 1681px 1086px #FFF, 1919px 744px #FFF, 840px 220px #FFF, 100px 308px #FFF, 272px 1490px #FFF, 1255px 1437px #FFF, 479px 1269px #FFF, 36px 1701px #FFF, 160px 1383px #FFF, 1043px 465px #FFF, 1754px 953px #FFF, 1633px 126px #FFF, 143px 1433px #FFF, 892px 614px #FFF, 1658px 1298px #FFF, 1033px 1155px #FFF, 116px 1413px #FFF, 831px 23px #FFF, 1059px 1487px #FFF, 470px 961px #FFF, 1103px 1356px #FFF, 1839px 655px #FFF, 619px 1814px #FFF, 548px 873px #FFF, 76px 1636px #FFF, 1653px 18px #FFF, 637px 1530px #FFF, 1094px 144px #FFF, 76px 1113px #FFF, 1885px 817px #FFF, 132px 35px #FFF, 1662px 80px #FFF, 251px 1396px #FFF, 1464px 1233px #FFF, 970px 1313px #FFF, 987px 1889px #FFF, 656px 760px #FFF, 1163px 149px #FFF, 1974px 1408px #FFF, 963px 989px #FFF, 1549px 890px #FFF, 1778px 1754px #FFF, 1697px 1193px #FFF, 200px 1925px #FFF, 706px 961px #FFF, 541px 851px #FFF, 29px 1949px #FFF, 753px 1759px #FFF, 426px 84px #FFF, 1660px 1403px #FFF, 527px 578px #FFF, 1005px 1442px #FFF, 370px 1359px #FFF, 878px 1124px #FFF, 437px 1308px #FFF, 3px 866px #FFF, 1765px 871px #FFF, 1579px 593px #FFF, 37px 1580px #FFF, 1114px 1919px #FFF, 584px 1745px #FFF, 452px 1417px #FFF, 233px 381px #FFF, 1866px 1415px #FFF, 835px 21px #FFF, 1212px 695px #FFF, 824px 1866px #FFF, 1923px 1108px #FFF, 856px 1105px #FFF, 1734px 1619px #FFF, 1679px 939px #FFF, 89px 567px #FFF, 670px 25px #FFF, 1287px 450px #FFF, 327px 265px #FFF, 1574px 71px #FFF, 1713px 651px #FFF, 1887px 910px #FFF, 1016px 1751px #FFF, 604px 980px #FFF, 1510px 396px #FFF, 702px 387px #FFF, 448px 1498px #FFF, 237px 455px #FFF, 1667px 134px #FFF, 1889px 1257px #FFF, 696px 1838px #FFF, 1277px 779px #FFF, 1623px 580px #FFF, 1843px 726px #FFF, 117px 1599px #FFF, 1818px 1199px #FFF, 1459px 669px #FFF, 1606px 1214px #FFF, 345px 1760px #FFF, 1985px 962px #FFF, 227px 489px #FFF, 1117px 899px #FFF, 774px 952px #FFF, 1923px 1192px #FFF, 890px 1686px #FFF, 1226px 691px #FFF, 757px 881px #FFF, 403px 1622px #FFF, 688px 1036px #FFF, 885px 901px #FFF, 442px 1891px #FFF, 957px 417px #FFF, 695px 946px #FFF, 604px 1313px #FFF, 1218px 1595px #FFF, 881px 48px #FFF, 199px 1558px #FFF, 1929px 391px #FFF, 706px 1816px #FFF, 214px 1264px #FFF, 977px 530px #FFF, 1334px 367px #FFF, 1140px 378px #FFF, 462px 787px #FFF, 736px 373px #FFF, 1070px 31px #FFF, 664px 791px #FFF, 865px 21px #FFF, 1304px 270px #FFF, 1827px 1249px #FFF, 1452px 1435px #FFF, 811px 1870px #FFF, 159px 1543px #FFF, 1203px 860px #FFF, 238px 556px #FFF, 1695px 1428px #FFF, 1280px 116px #FFF, 1122px 1632px #FFF, 314px 533px #FFF, 639px 1060px #FFF, 387px 459px #FFF, 1410px 454px #FFF, 375px 1210px #FFF, 1598px 1108px #FFF, 224px 983px #FFF, 928px 915px #FFF, 222px 1464px #FFF, 134px 1979px #FFF, 600px 985px #FFF, 759px 1722px #FFF, 887px 875px #FFF, 1067px 1522px #FFF, 817px 107px #FFF, 217px 273px #FFF, 1548px 1649px #FFF, 1600px 1774px #FFF, 508px 1160px #FFF, 1469px 836px #FFF, 1270px 171px #FFF, 1998px 842px #FFF, 1883px 980px #FFF, 1944px 1766px #FFF, 1238px 32px #FFF, 1233px 772px #FFF, 1951px 1607px #FFF, 616px 1109px #FFF, 1471px 526px #FFF, 1210px 118px #FFF, 139px 1121px #FFF, 1106px 441px #FFF, 1980px 338px #FFF, 228px 532px #FFF, 143px 826px #FFF, 1989px 469px #FFF, 1699px 1405px #FFF, 1207px 1128px #FFF, 1308px 1133px #FFF, 1733px 973px #FFF, 1762px 526px #FFF, 1529px 1710px #FFF, 491px 283px #FFF, 367px 650px #FFF, 870px 1088px #FFF, 678px 1506px #FFF, 1805px 1943px #FFF, 786px 916px #FFF, 1575px 526px #FFF, 300px 1086px #FFF, 993px 623px #FFF, 509px 943px #FFF, 1419px 1686px #FFF, 1608px 1982px #FFF, 1201px 1279px #FFF, 721px 453px #FFF, 83px 1221px #FFF, 1293px 1668px #FFF, 1076px 1572px #FFF, 1619px 1676px #FFF, 975px 119px #FFF, 557px 16px #FFF, 1602px 872px #FFF, 126px 659px #FFF, 416px 332px #FFF, 1611px 1730px #FFF, 1293px 1278px #FFF, 1498px 1815px #FFF, 1244px 544px #FFF, 1027px 692px #FFF, 435px 940px #FFF, 933px 1532px #FFF, 1745px 129px #FFF, 286px 363px #FFF, 79px 1585px #FFF, 785px 789px #FFF, 1543px 621px #FFF, 785px 428px #FFF, 598px 1629px #FFF, 878px 1584px #FFF, 1755px 744px #FFF, 41px 991px #FFF, 1750px 810px #FFF, 204px 1861px #FFF, 57px 164px #FFF, 325px 258px #FFF, 124px 562px #FFF, 1347px 1456px #FFF, 1744px 1279px #FFF, 1857px 397px #FFF, 205px 1274px #FFF, 1926px 1191px #FFF, 1628px 880px #FFF, 1090px 300px #FFF, 1124px 31px #FFF, 1219px 1784px #FFF, 1127px 988px #FFF, 1994px 1719px #FFF, 1832px 624px #FFF, 818px 793px #FFF, 398px 1567px #FFF, 1944px 971px #FFF, 1298px 1508px #FFF, 412px 1068px #FFF, 1336px 927px #FFF, 750px 1741px #FFF, 1309px 1624px #FFF, 1613px 656px #FFF, 1637px 876px #FFF, 288px 1159px #FFF, 1548px 1008px #FFF, 566px 1169px #FFF, 842px 799px #FFF, 1207px 935px #FFF, 1038px 1519px #FFF, 1228px 68px #FFF, 1350px 925px #FFF, 345px 1829px #FFF, 1726px 909px #FFF, 1315px 485px #FFF, 906px 1324px #FFF, 1789px 1217px #FFF, 1754px 1164px #FFF, 1920px 883px #FFF, 310px 768px #FFF, 1746px 19px #FFF, 1640px 1512px #FFF, 897px 1086px #FFF, 1317px 355px #FFF, 1411px 1474px #FFF, 1187px 1363px #FFF, 151px 221px #FFF, 31px 626px #FFF, 822px 1000px #FFF, 147px 1410px #FFF, 321px 1617px #FFF, 182px 1354px #FFF, 1092px 1700px #FFF, 762px 248px #FFF, 1531px 244px #FFF, 981px 411px #FFF, 1727px 1199px #FFF, 1543px 422px #FFF, 482px 165px #FFF, 1772px 1739px #FFF, 1009px 1772px #FFF, 445px 731px #FFF, 811px 1835px #FFF, 1595px 1526px #FFF, 835px 507px #FFF, 1130px 1676px #FFF, 706px 247px #FFF, 1142px 20px #FFF, 309px 542px #FFF, 1812px 1571px #FFF, 214px 574px #FFF, 997px 818px #FFF, 241px 972px #FFF, 986px 1175px #FFF, 476px 1686px #FFF, 976px 1520px #FFF, 983px 1556px #FFF, 1205px 1712px #FFF, 1631px 1422px #FFF, 1000px 778px #FFF, 1099px 634px #FFF, 1788px 387px #FFF, 681px 579px #FFF, 799px 1505px #FFF, 286px 488px #FFF, 1657px 1872px #FFF, 962px 1038px #FFF, 1777px 586px #FFF, 421px 428px #FFF, 1245px 539px #FFF, 327px 631px #FFF, 536px 1354px #FFF, 1290px 1471px #FFF, 1421px 1792px #FFF, 1045px 74px #FFF, 1173px 492px #FFF, 1359px 1979px #FFF, 427px 600px #FFF, 307px 1180px #FFF, 1567px 327px #FFF, 61px 1837px #FFF, 1199px 1637px #FFF, 1003px 1421px #FFF, 1682px 1670px #FFF, 1036px 18px #FFF, 349px 117px #FFF, 169px 465px #FFF, 1738px 231px #FFF, 1994px 783px #FFF, 1812px 598px #FFF, 1209px 1323px #FFF, 167px 803px #FFF, 433px 114px #FFF, 989px 1343px #FFF, 49px 691px #FFF, 1029px 1720px #FFF, 192px 1088px #FFF, 1896px 997px #FFF, 349px 222px #FFF, 913px 368px #FFF, 691px 1490px #FFF, 289px 1839px #FFF, 1662px 1109px #FFF, 376px 684px #FFF, 1818px 1740px #FFF, 1850px 181px #FFF, 1450px 1847px #FFF, 1747px 1115px #FFF, 1356px 555px #FFF, 1396px 1685px #FFF, 88px 774px #FFF, 1988px 1876px #FFF, 1769px 364px #FFF, 967px 994px #FFF, 1038px 307px #FFF, 1036px 1377px #FFF, 226px 1194px #FFF, 1058px 1054px #FFF, 1055px 1994px #FFF, 784px 1552px #FFF, 1209px 641px #FFF, 940px 608px #FFF, 1832px 598px #FFF, 468px 1872px #FFF, 1992px 293px #FFF, 1578px 550px #FFF, 1591px 749px #FFF, 1241px 1104px #FFF, 435px 680px #FFF, 1090px 1859px #FFF, 988px 589px #FFF, 223px 395px #FFF, 368px 1298px #FFF, 1019px 1572px #FFF, 1924px 13px #FFF, 1330px 133px #FFF, 1878px 641px #FFF, 1563px 656px #FFF, 1489px 636px #FFF, 1617px 497px #FFF, 502px 1486px #FFF, 1137px 1088px #FFF, 74px 1026px #FFF, 820px 141px #FFF, 225px 1338px #FFF, 1908px 639px #FFF, 591px 1160px #FFF, 32px 101px #FFF, 1194px 1393px #FFF, 1651px 1487px #FFF, 836px 336px #FFF, 471px 1351px #FFF, 1432px 645px #FFF, 704px 143px #FFF, 1385px 1789px #FFF, 702px 151px #FFF, 1654px 909px #FFF, 415px 1200px #FFF, 1887px 605px #FFF, 317px 380px #FFF, 1825px 1481px #FFF, 1870px 1409px #FFF, 1525px 1083px #FFF, 805px 863px #FFF, 529px 383px #FFF, 1344px 1706px #FFF, 1922px 203px #FFF, 1496px 27px #FFF, 934px 458px #FFF, 840px 1068px #FFF, 1986px 1213px #FFF, 1250px 1472px #FFF, 1752px 1045px #FFF, 752px 1856px #FFF, 1675px 1236px #FFF, 1933px 859px #FFF, 956px 1355px #FFF, 633px 552px #FFF, 1100px 1052px #FFF, 1096px 1827px #FFF, 407px 31px #FFF, 727px 1611px #FFF, 1221px 1748px #FFF, 1828px 1150px #FFF, 592px 1498px #FFF, 134px 667px #FFF, 1098px 1086px #FFF, 1801px 1164px #FFF, 1042px 761px #FFF, 348px 1451px #FFF, 52px 420px #FFF, 1367px 574px #FFF, 233px 1504px #FFF, 1359px 1068px #FFF, 1869px 744px #FFF, 1919px 110px #FFF, 1779px 685px #FFF, 1676px 321px #FFF, 1446px 873px #FFF, 1787px 1412px #FFF, 1917px 1784px #FFF, 960px 176px #FFF, 1778px 1309px #FFF, 124px 26px #FFF, 1745px 983px #FFF, 364px 311px #FFF, 1112px 663px #FFF, 1092px 1937px #FFF, 1476px 1012px #FFF, 412px 1561px #FFF, 707px 1404px #FFF, 1128px 1732px #FFF, 823px 1735px #FFF, 231px 766px #FFF, 185px 1784px #FFF, 1623px 1524px #FFF, 1545px 1987px #FFF, 534px 1990px #FFF, 444px 421px #FFF, 506px 716px #FFF, 1117px 317px #FFF, 274px 1413px #FFF, 1888px 1595px #FFF, 996px 1777px #FFF, 534px 1895px #FFF, 355px 975px #FFF, 567px 355px #FFF, 515px 1654px #FFF, 1484px 1682px #FFF, 1012px 517px #FFF, 992px 1586px #FFF, 1674px 449px #FFF, 1896px 1746px #FFF, 337px 412px #FFF, 306px 1505px #FFF, 436px 53px #FFF, 1949px 1674px #FFF, 231px 779px #FFF, 701px 893px #FFF, 1209px 1747px #FFF, 1280px 502px #FFF, 1532px 240px #FFF, 1661px 1198px #FFF, 1225px 883px #FFF, 1971px 1003px #FFF, 1493px 778px #FFF, 1686px 894px #FFF, 23px 1899px #FFF, 1205px 420px #FFF, 1769px 575px #FFF, 1794px 1562px #FFF, 156px 338px #FFF, 1716px 1093px #FFF, 297px 593px #FFF, 1614px 1663px #FFF, 1074px 1951px #FFF, 415px 363px #FFF, 651px 1688px #FFF, 567px 535px #FFF, 237px 261px #FFF, 740px 1356px #FFF, 586px 434px #FFF, 889px 1078px #FFF, 845px 971px #FFF, 1990px 853px #FFF, 332px 1398px #FFF, 22px 243px #FFF, 1041px 1447px #FFF, 1848px 106px #FFF, 521px 250px #FFF, 1513px 1242px #FFF, 1640px 936px #FFF, 644px 1511px #FFF, 981px 535px #FFF, 504px 1722px #FFF, 1766px 1556px #FFF, 1617px 1081px #FFF, 1422px 947px #FFF, 1981px 475px #FFF, 600px 189px #FFF, 1548px 1924px #FFF, 1500px 873px #FFF, 492px 11px #FFF, 271px 1411px #FFF, 966px 1787px #FFF, 817px 936px #FFF, 1188px 1431px #FFF, 385px 1586px #FFF, 985px 1478px #FFF, 751px 514px #FFF, 595px 620px #FFF, 772px 1978px #FFF, 1976px 1499px #FFF, 864px 1016px #FFF, 558px 539px #FFF, 422px 772px #FFF, 843px 588px #FFF, 334px 874px #FFF, 1306px 1049px #FFF, 170px 565px #FFF, 542px 1384px #FFF, 704px 469px #FFF, 1063px 1555px #FFF, 1078px 1080px #FFF, 1209px 437px #FFF, 631px 661px #FFF, 21px 932px #FFF, 937px 471px #FFF, 449px 4px #FFF, 1972px 1825px #FFF, 960px 768px #FFF, 36px 874px #FFF, 1781px 479px #FFF, 681px 1092px #FFF, 1964px 602px #FFF, 287px 330px #FFF, 1818px 736px #FFF, 667px 582px #FFF, 1554px 1026px #FFF, 803px 1170px #FFF, 1036px 741px #FFF, 1213px 223px #FFF, 893px 1144px #FFF, 225px 755px #FFF, 1622px 559px #FFF, 648px 1679px #FFF, 278px 1918px #FFF, 1045px 1672px #FFF, 1510px 163px #FFF, 1824px 919px #FFF;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1050px 1225px #FFF, 1805px 1184px #FFF, 562px 1404px #FFF, 1416px 1259px #FFF, 1318px 688px #FFF, 217px 40px #FFF, 433px 1903px #FFF, 730px 885px #FFF, 1222px 650px #FFF, 838px 1520px #FFF, 1805px 1098px #FFF, 581px 1846px #FFF, 643px 24px #FFF, 40px 818px #FFF, 355px 76px #FFF, 1903px 771px #FFF, 1303px 563px #FFF, 19px 87px #FFF, 550px 1251px #FFF, 231px 1513px #FFF, 1475px 1484px #FFF, 1536px 1469px #FFF, 740px 1474px #FFF, 1497px 225px #FFF, 1268px 1444px #FFF, 1896px 1412px #FFF, 1790px 1721px #FFF, 1919px 216px #FFF, 110px 1659px #FFF, 1295px 1778px #FFF, 1362px 993px #FFF, 696px 1594px #FFF, 126px 292px #FFF, 965px 40px #FFF, 1275px 1989px #FFF, 179px 1637px #FFF, 1126px 131px #FFF, 1486px 311px #FFF, 1661px 1728px #FFF, 1845px 1371px #FFF, 242px 435px #FFF, 317px 981px #FFF, 605px 588px #FFF, 978px 1227px #FFF, 1451px 484px #FFF, 1449px 1652px #FFF, 487px 1589px #FFF, 730px 1281px #FFF, 342px 1796px #FFF, 170px 170px #FFF, 951px 345px #FFF, 1838px 1835px #FFF, 842px 330px #FFF, 304px 1211px #FFF, 743px 7px #FFF, 604px 926px #FFF, 1573px 1976px #FFF, 1534px 988px #FFF, 754px 110px #FFF, 1029px 374px #FFF, 1121px 1329px #FFF, 606px 786px #FFF, 56px 92px #FFF, 1986px 1536px #FFF, 1654px 350px #FFF, 1244px 180px #FFF, 294px 331px #FFF, 701px 1598px #FFF, 1333px 1646px #FFF, 770px 727px #FFF, 33px 1373px #FFF, 382px 60px #FFF, 1965px 1634px #FFF, 1549px 1212px #FFF, 1503px 850px #FFF, 1626px 1976px #FFF, 1485px 1863px #FFF, 747px 476px #FFF, 20px 641px #FFF, 1534px 461px #FFF, 360px 727px #FFF, 978px 461px #FFF, 778px 70px #FFF, 1806px 1607px #FFF, 1227px 472px #FFF, 41px 628px #FFF, 350px 1587px #FFF, 1286px 508px #FFF, 1838px 142px #FFF, 1163px 1206px #FFF, 269px 119px #FFF, 274px 337px #FFF, 765px 1423px #FFF, 1590px 1784px #FFF, 1206px 1209px #FFF, 106px 63px #FFF, 1769px 1022px #FFF, 1769px 982px #FFF, 1897px 556px #FFF, 1188px 1455px #FFF, 4px 407px #FFF, 1070px 328px #FFF, 352px 161px #FFF, 1585px 575px #FFF, 1879px 705px #FFF, 169px 420px #FFF, 1358px 1575px #FFF, 1381px 1534px #FFF, 150px 1338px #FFF, 1002px 1723px #FFF, 1069px 550px #FFF, 1853px 1491px #FFF, 477px 581px #FFF, 1993px 470px #FFF, 32px 1187px #FFF, 1965px 761px #FFF, 1154px 1825px #FFF, 1689px 1284px #FFF, 1227px 1915px #FFF, 1917px 15px #FFF, 475px 808px #FFF, 1134px 1697px #FFF, 548px 1909px #FFF, 1640px 139px #FFF, 359px 1780px #FFF, 1868px 1169px #FFF, 1627px 733px #FFF, 1598px 1043px #FFF, 642px 1096px #FFF, 497px 1823px #FFF, 264px 133px #FFF, 1681px 1086px #FFF, 1919px 744px #FFF, 840px 220px #FFF, 100px 308px #FFF, 272px 1490px #FFF, 1255px 1437px #FFF, 479px 1269px #FFF, 36px 1701px #FFF, 160px 1383px #FFF, 1043px 465px #FFF, 1754px 953px #FFF, 1633px 126px #FFF, 143px 1433px #FFF, 892px 614px #FFF, 1658px 1298px #FFF, 1033px 1155px #FFF, 116px 1413px #FFF, 831px 23px #FFF, 1059px 1487px #FFF, 470px 961px #FFF, 1103px 1356px #FFF, 1839px 655px #FFF, 619px 1814px #FFF, 548px 873px #FFF, 76px 1636px #FFF, 1653px 18px #FFF, 637px 1530px #FFF, 1094px 144px #FFF, 76px 1113px #FFF, 1885px 817px #FFF, 132px 35px #FFF, 1662px 80px #FFF, 251px 1396px #FFF, 1464px 1233px #FFF, 970px 1313px #FFF, 987px 1889px #FFF, 656px 760px #FFF, 1163px 149px #FFF, 1974px 1408px #FFF, 963px 989px #FFF, 1549px 890px #FFF, 1778px 1754px #FFF, 1697px 1193px #FFF, 200px 1925px #FFF, 706px 961px #FFF, 541px 851px #FFF, 29px 1949px #FFF, 753px 1759px #FFF, 426px 84px #FFF, 1660px 1403px #FFF, 527px 578px #FFF, 1005px 1442px #FFF, 370px 1359px #FFF, 878px 1124px #FFF, 437px 1308px #FFF, 3px 866px #FFF, 1765px 871px #FFF, 1579px 593px #FFF, 37px 1580px #FFF, 1114px 1919px #FFF, 584px 1745px #FFF, 452px 1417px #FFF, 233px 381px #FFF, 1866px 1415px #FFF, 835px 21px #FFF, 1212px 695px #FFF, 824px 1866px #FFF, 1923px 1108px #FFF, 856px 1105px #FFF, 1734px 1619px #FFF, 1679px 939px #FFF, 89px 567px #FFF, 670px 25px #FFF, 1287px 450px #FFF, 327px 265px #FFF, 1574px 71px #FFF, 1713px 651px #FFF, 1887px 910px #FFF, 1016px 1751px #FFF, 604px 980px #FFF, 1510px 396px #FFF, 702px 387px #FFF, 448px 1498px #FFF, 237px 455px #FFF, 1667px 134px #FFF, 1889px 1257px #FFF, 696px 1838px #FFF, 1277px 779px #FFF, 1623px 580px #FFF, 1843px 726px #FFF, 117px 1599px #FFF, 1818px 1199px #FFF, 1459px 669px #FFF, 1606px 1214px #FFF, 345px 1760px #FFF, 1985px 962px #FFF, 227px 489px #FFF, 1117px 899px #FFF, 774px 952px #FFF, 1923px 1192px #FFF, 890px 1686px #FFF, 1226px 691px #FFF, 757px 881px #FFF, 403px 1622px #FFF, 688px 1036px #FFF, 885px 901px #FFF, 442px 1891px #FFF, 957px 417px #FFF, 695px 946px #FFF, 604px 1313px #FFF, 1218px 1595px #FFF, 881px 48px #FFF, 199px 1558px #FFF, 1929px 391px #FFF, 706px 1816px #FFF, 214px 1264px #FFF, 977px 530px #FFF, 1334px 367px #FFF, 1140px 378px #FFF, 462px 787px #FFF, 736px 373px #FFF, 1070px 31px #FFF, 664px 791px #FFF, 865px 21px #FFF, 1304px 270px #FFF, 1827px 1249px #FFF, 1452px 1435px #FFF, 811px 1870px #FFF, 159px 1543px #FFF, 1203px 860px #FFF, 238px 556px #FFF, 1695px 1428px #FFF, 1280px 116px #FFF, 1122px 1632px #FFF, 314px 533px #FFF, 639px 1060px #FFF, 387px 459px #FFF, 1410px 454px #FFF, 375px 1210px #FFF, 1598px 1108px #FFF, 224px 983px #FFF, 928px 915px #FFF, 222px 1464px #FFF, 134px 1979px #FFF, 600px 985px #FFF, 759px 1722px #FFF, 887px 875px #FFF, 1067px 1522px #FFF, 817px 107px #FFF, 217px 273px #FFF, 1548px 1649px #FFF, 1600px 1774px #FFF, 508px 1160px #FFF, 1469px 836px #FFF, 1270px 171px #FFF, 1998px 842px #FFF, 1883px 980px #FFF, 1944px 1766px #FFF, 1238px 32px #FFF, 1233px 772px #FFF, 1951px 1607px #FFF, 616px 1109px #FFF, 1471px 526px #FFF, 1210px 118px #FFF, 139px 1121px #FFF, 1106px 441px #FFF, 1980px 338px #FFF, 228px 532px #FFF, 143px 826px #FFF, 1989px 469px #FFF, 1699px 1405px #FFF, 1207px 1128px #FFF, 1308px 1133px #FFF, 1733px 973px #FFF, 1762px 526px #FFF, 1529px 1710px #FFF, 491px 283px #FFF, 367px 650px #FFF, 870px 1088px #FFF, 678px 1506px #FFF, 1805px 1943px #FFF, 786px 916px #FFF, 1575px 526px #FFF, 300px 1086px #FFF, 993px 623px #FFF, 509px 943px #FFF, 1419px 1686px #FFF, 1608px 1982px #FFF, 1201px 1279px #FFF, 721px 453px #FFF, 83px 1221px #FFF, 1293px 1668px #FFF, 1076px 1572px #FFF, 1619px 1676px #FFF, 975px 119px #FFF, 557px 16px #FFF, 1602px 872px #FFF, 126px 659px #FFF, 416px 332px #FFF, 1611px 1730px #FFF, 1293px 1278px #FFF, 1498px 1815px #FFF, 1244px 544px #FFF, 1027px 692px #FFF, 435px 940px #FFF, 933px 1532px #FFF, 1745px 129px #FFF, 286px 363px #FFF, 79px 1585px #FFF, 785px 789px #FFF, 1543px 621px #FFF, 785px 428px #FFF, 598px 1629px #FFF, 878px 1584px #FFF, 1755px 744px #FFF, 41px 991px #FFF, 1750px 810px #FFF, 204px 1861px #FFF, 57px 164px #FFF, 325px 258px #FFF, 124px 562px #FFF, 1347px 1456px #FFF, 1744px 1279px #FFF, 1857px 397px #FFF, 205px 1274px #FFF, 1926px 1191px #FFF, 1628px 880px #FFF, 1090px 300px #FFF, 1124px 31px #FFF, 1219px 1784px #FFF, 1127px 988px #FFF, 1994px 1719px #FFF, 1832px 624px #FFF, 818px 793px #FFF, 398px 1567px #FFF, 1944px 971px #FFF, 1298px 1508px #FFF, 412px 1068px #FFF, 1336px 927px #FFF, 750px 1741px #FFF, 1309px 1624px #FFF, 1613px 656px #FFF, 1637px 876px #FFF, 288px 1159px #FFF, 1548px 1008px #FFF, 566px 1169px #FFF, 842px 799px #FFF, 1207px 935px #FFF, 1038px 1519px #FFF, 1228px 68px #FFF, 1350px 925px #FFF, 345px 1829px #FFF, 1726px 909px #FFF, 1315px 485px #FFF, 906px 1324px #FFF, 1789px 1217px #FFF, 1754px 1164px #FFF, 1920px 883px #FFF, 310px 768px #FFF, 1746px 19px #FFF, 1640px 1512px #FFF, 897px 1086px #FFF, 1317px 355px #FFF, 1411px 1474px #FFF, 1187px 1363px #FFF, 151px 221px #FFF, 31px 626px #FFF, 822px 1000px #FFF, 147px 1410px #FFF, 321px 1617px #FFF, 182px 1354px #FFF, 1092px 1700px #FFF, 762px 248px #FFF, 1531px 244px #FFF, 981px 411px #FFF, 1727px 1199px #FFF, 1543px 422px #FFF, 482px 165px #FFF, 1772px 1739px #FFF, 1009px 1772px #FFF, 445px 731px #FFF, 811px 1835px #FFF, 1595px 1526px #FFF, 835px 507px #FFF, 1130px 1676px #FFF, 706px 247px #FFF, 1142px 20px #FFF, 309px 542px #FFF, 1812px 1571px #FFF, 214px 574px #FFF, 997px 818px #FFF, 241px 972px #FFF, 986px 1175px #FFF, 476px 1686px #FFF, 976px 1520px #FFF, 983px 1556px #FFF, 1205px 1712px #FFF, 1631px 1422px #FFF, 1000px 778px #FFF, 1099px 634px #FFF, 1788px 387px #FFF, 681px 579px #FFF, 799px 1505px #FFF, 286px 488px #FFF, 1657px 1872px #FFF, 962px 1038px #FFF, 1777px 586px #FFF, 421px 428px #FFF, 1245px 539px #FFF, 327px 631px #FFF, 536px 1354px #FFF, 1290px 1471px #FFF, 1421px 1792px #FFF, 1045px 74px #FFF, 1173px 492px #FFF, 1359px 1979px #FFF, 427px 600px #FFF, 307px 1180px #FFF, 1567px 327px #FFF, 61px 1837px #FFF, 1199px 1637px #FFF, 1003px 1421px #FFF, 1682px 1670px #FFF, 1036px 18px #FFF, 349px 117px #FFF, 169px 465px #FFF, 1738px 231px #FFF, 1994px 783px #FFF, 1812px 598px #FFF, 1209px 1323px #FFF, 167px 803px #FFF, 433px 114px #FFF, 989px 1343px #FFF, 49px 691px #FFF, 1029px 1720px #FFF, 192px 1088px #FFF, 1896px 997px #FFF, 349px 222px #FFF, 913px 368px #FFF, 691px 1490px #FFF, 289px 1839px #FFF, 1662px 1109px #FFF, 376px 684px #FFF, 1818px 1740px #FFF, 1850px 181px #FFF, 1450px 1847px #FFF, 1747px 1115px #FFF, 1356px 555px #FFF, 1396px 1685px #FFF, 88px 774px #FFF, 1988px 1876px #FFF, 1769px 364px #FFF, 967px 994px #FFF, 1038px 307px #FFF, 1036px 1377px #FFF, 226px 1194px #FFF, 1058px 1054px #FFF, 1055px 1994px #FFF, 784px 1552px #FFF, 1209px 641px #FFF, 940px 608px #FFF, 1832px 598px #FFF, 468px 1872px #FFF, 1992px 293px #FFF, 1578px 550px #FFF, 1591px 749px #FFF, 1241px 1104px #FFF, 435px 680px #FFF, 1090px 1859px #FFF, 988px 589px #FFF, 223px 395px #FFF, 368px 1298px #FFF, 1019px 1572px #FFF, 1924px 13px #FFF, 1330px 133px #FFF, 1878px 641px #FFF, 1563px 656px #FFF, 1489px 636px #FFF, 1617px 497px #FFF, 502px 1486px #FFF, 1137px 1088px #FFF, 74px 1026px #FFF, 820px 141px #FFF, 225px 1338px #FFF, 1908px 639px #FFF, 591px 1160px #FFF, 32px 101px #FFF, 1194px 1393px #FFF, 1651px 1487px #FFF, 836px 336px #FFF, 471px 1351px #FFF, 1432px 645px #FFF, 704px 143px #FFF, 1385px 1789px #FFF, 702px 151px #FFF, 1654px 909px #FFF, 415px 1200px #FFF, 1887px 605px #FFF, 317px 380px #FFF, 1825px 1481px #FFF, 1870px 1409px #FFF, 1525px 1083px #FFF, 805px 863px #FFF, 529px 383px #FFF, 1344px 1706px #FFF, 1922px 203px #FFF, 1496px 27px #FFF, 934px 458px #FFF, 840px 1068px #FFF, 1986px 1213px #FFF, 1250px 1472px #FFF, 1752px 1045px #FFF, 752px 1856px #FFF, 1675px 1236px #FFF, 1933px 859px #FFF, 956px 1355px #FFF, 633px 552px #FFF, 1100px 1052px #FFF, 1096px 1827px #FFF, 407px 31px #FFF, 727px 1611px #FFF, 1221px 1748px #FFF, 1828px 1150px #FFF, 592px 1498px #FFF, 134px 667px #FFF, 1098px 1086px #FFF, 1801px 1164px #FFF, 1042px 761px #FFF, 348px 1451px #FFF, 52px 420px #FFF, 1367px 574px #FFF, 233px 1504px #FFF, 1359px 1068px #FFF, 1869px 744px #FFF, 1919px 110px #FFF, 1779px 685px #FFF, 1676px 321px #FFF, 1446px 873px #FFF, 1787px 1412px #FFF, 1917px 1784px #FFF, 960px 176px #FFF, 1778px 1309px #FFF, 124px 26px #FFF, 1745px 983px #FFF, 364px 311px #FFF, 1112px 663px #FFF, 1092px 1937px #FFF, 1476px 1012px #FFF, 412px 1561px #FFF, 707px 1404px #FFF, 1128px 1732px #FFF, 823px 1735px #FFF, 231px 766px #FFF, 185px 1784px #FFF, 1623px 1524px #FFF, 1545px 1987px #FFF, 534px 1990px #FFF, 444px 421px #FFF, 506px 716px #FFF, 1117px 317px #FFF, 274px 1413px #FFF, 1888px 1595px #FFF, 996px 1777px #FFF, 534px 1895px #FFF, 355px 975px #FFF, 567px 355px #FFF, 515px 1654px #FFF, 1484px 1682px #FFF, 1012px 517px #FFF, 992px 1586px #FFF, 1674px 449px #FFF, 1896px 1746px #FFF, 337px 412px #FFF, 306px 1505px #FFF, 436px 53px #FFF, 1949px 1674px #FFF, 231px 779px #FFF, 701px 893px #FFF, 1209px 1747px #FFF, 1280px 502px #FFF, 1532px 240px #FFF, 1661px 1198px #FFF, 1225px 883px #FFF, 1971px 1003px #FFF, 1493px 778px #FFF, 1686px 894px #FFF, 23px 1899px #FFF, 1205px 420px #FFF, 1769px 575px #FFF, 1794px 1562px #FFF, 156px 338px #FFF, 1716px 1093px #FFF, 297px 593px #FFF, 1614px 1663px #FFF, 1074px 1951px #FFF, 415px 363px #FFF, 651px 1688px #FFF, 567px 535px #FFF, 237px 261px #FFF, 740px 1356px #FFF, 586px 434px #FFF, 889px 1078px #FFF, 845px 971px #FFF, 1990px 853px #FFF, 332px 1398px #FFF, 22px 243px #FFF, 1041px 1447px #FFF, 1848px 106px #FFF, 521px 250px #FFF, 1513px 1242px #FFF, 1640px 936px #FFF, 644px 1511px #FFF, 981px 535px #FFF, 504px 1722px #FFF, 1766px 1556px #FFF, 1617px 1081px #FFF, 1422px 947px #FFF, 1981px 475px #FFF, 600px 189px #FFF, 1548px 1924px #FFF, 1500px 873px #FFF, 492px 11px #FFF, 271px 1411px #FFF, 966px 1787px #FFF, 817px 936px #FFF, 1188px 1431px #FFF, 385px 1586px #FFF, 985px 1478px #FFF, 751px 514px #FFF, 595px 620px #FFF, 772px 1978px #FFF, 1976px 1499px #FFF, 864px 1016px #FFF, 558px 539px #FFF, 422px 772px #FFF, 843px 588px #FFF, 334px 874px #FFF, 1306px 1049px #FFF, 170px 565px #FFF, 542px 1384px #FFF, 704px 469px #FFF, 1063px 1555px #FFF, 1078px 1080px #FFF, 1209px 437px #FFF, 631px 661px #FFF, 21px 932px #FFF, 937px 471px #FFF, 449px 4px #FFF, 1972px 1825px #FFF, 960px 768px #FFF, 36px 874px #FFF, 1781px 479px #FFF, 681px 1092px #FFF, 1964px 602px #FFF, 287px 330px #FFF, 1818px 736px #FFF, 667px 582px #FFF, 1554px 1026px #FFF, 803px 1170px #FFF, 1036px 741px #FFF, 1213px 223px #FFF, 893px 1144px #FFF, 225px 755px #FFF, 1622px 559px #FFF, 648px 1679px #FFF, 278px 1918px #FFF, 1045px 1672px #FFF, 1510px 163px #FFF, 1824px 919px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1195px 460px #FFF, 1761px 1303px #FFF, 1592px 508px #FFF, 473px 1629px #FFF, 1705px 692px #FFF, 1449px 1902px #FFF, 1242px 32px #FFF, 493px 977px #FFF, 798px 1457px #FFF, 1905px 925px #FFF, 997px 1657px #FFF, 1159px 947px #FFF, 257px 1495px #FFF, 177px 867px #FFF, 438px 459px #FFF, 50px 1445px #FFF, 1140px 36px #FFF, 1994px 1720px #FFF, 638px 404px #FFF, 1394px 365px #FFF, 1044px 1149px #FFF, 1862px 508px #FFF, 1924px 1280px #FFF, 1492px 89px #FFF, 657px 400px #FFF, 1165px 1187px #FFF, 1701px 619px #FFF, 1204px 927px #FFF, 346px 296px #FFF, 1172px 1244px #FFF, 1830px 1853px #FFF, 545px 1293px #FFF, 211px 1781px #FFF, 1906px 983px #FFF, 232px 1831px #FFF, 288px 892px #FFF, 851px 1321px #FFF, 1692px 81px #FFF, 1030px 856px #FFF, 1669px 460px #FFF, 712px 543px #FFF, 414px 1526px #FFF, 779px 1056px #FFF, 1436px 801px #FFF, 1438px 1700px #FFF, 1469px 1613px #FFF, 1466px 1788px #FFF, 1237px 404px #FFF, 645px 1892px #FFF, 1125px 1992px #FFF, 1236px 807px #FFF, 1438px 109px #FFF, 548px 771px #FFF, 1998px 1108px #FFF, 597px 930px #FFF, 1842px 871px #FFF, 537px 824px #FFF, 125px 1865px #FFF, 251px 1296px #FFF, 1453px 1999px #FFF, 1877px 602px #FFF, 977px 53px #FFF, 604px 1121px #FFF, 1872px 472px #FFF, 699px 1764px #FFF, 571px 1451px #FFF, 1683px 1345px #FFF, 370px 330px #FFF, 671px 1814px #FFF, 442px 1943px #FFF, 1542px 1104px #FFF, 1834px 1954px #FFF, 383px 439px #FFF, 1571px 1236px #FFF, 395px 619px #FFF, 306px 817px #FFF, 689px 1208px #FFF, 1247px 1686px #FFF, 500px 1834px #FFF, 207px 460px #FFF, 1282px 880px #FFF, 329px 414px #FFF, 1823px 1351px #FFF, 547px 1468px #FFF, 1670px 122px #FFF, 1532px 897px #FFF, 444px 891px #FFF, 1710px 1972px #FFF, 1980px 1430px #FFF, 1510px 69px #FFF, 1089px 628px #FFF, 1654px 686px #FFF, 367px 481px #FFF, 381px 834px #FFF, 567px 234px #FFF, 129px 1328px #FFF, 1288px 596px #FFF, 596px 1992px #FFF, 1950px 568px #FFF, 533px 1849px #FFF, 533px 572px #FFF, 43px 803px #FFF, 1350px 1951px #FFF, 22px 1615px #FFF, 1615px 161px #FFF, 1918px 408px #FFF, 1094px 1935px #FFF, 1071px 1084px #FFF, 682px 1077px #FFF, 122px 581px #FFF, 1969px 1521px #FFF, 873px 365px #FFF, 1259px 171px #FFF, 1162px 826px #FFF, 1932px 1664px #FFF, 161px 1600px #FFF, 190px 125px #FFF, 188px 179px #FFF, 752px 31px #FFF, 87px 304px #FFF, 1340px 1986px #FFF, 1105px 1076px #FFF, 1209px 1940px #FFF, 1215px 980px #FFF, 1509px 869px #FFF, 990px 1922px #FFF, 1575px 502px #FFF, 276px 288px #FFF, 1165px 892px #FFF, 866px 1447px #FFF, 244px 692px #FFF, 71px 488px #FFF, 91px 1016px #FFF, 1598px 135px #FFF, 1885px 1035px #FFF, 1993px 1569px #FFF, 1870px 1545px #FFF, 1604px 473px #FFF, 1512px 452px #FFF, 1068px 413px #FFF, 719px 985px #FFF, 686px 682px #FFF, 47px 699px #FFF, 1747px 402px #FFF, 1907px 448px #FFF, 752px 777px #FFF, 1317px 488px #FFF, 1974px 175px #FFF, 357px 1364px #FFF, 958px 702px #FFF, 1163px 1396px #FFF, 994px 1075px #FFF, 1567px 1262px #FFF, 366px 771px #FFF, 765px 1506px #FFF, 1119px 1624px #FFF, 1283px 398px #FFF, 1534px 299px #FFF, 368px 915px #FFF, 519px 1016px #FFF, 453px 583px #FFF, 1609px 1728px #FFF, 1121px 974px #FFF, 1756px 1552px #FFF, 1947px 1263px #FFF, 808px 295px #FFF, 317px 1242px #FFF, 1706px 917px #FFF, 1974px 44px #FFF, 522px 559px #FFF, 186px 851px #FFF, 1170px 93px #FFF, 806px 1415px #FFF, 1345px 1583px #FFF, 1285px 407px #FFF, 1723px 420px #FFF, 293px 679px #FFF, 1855px 912px #FFF, 1208px 433px #FFF, 444px 193px #FFF, 137px 1290px #FFF, 493px 1893px #FFF, 1080px 590px #FFF, 1071px 415px #FFF, 1619px 1466px #FFF, 1253px 1140px #FFF, 367px 1341px #FFF, 1236px 42px #FFF, 1684px 536px #FFF, 748px 1348px #FFF, 1137px 1072px #FFF, 869px 269px #FFF, 917px 868px #FFF, 1385px 1712px #FFF, 1629px 37px #FFF, 1551px 571px #FFF, 1299px 520px #FFF, 319px 1602px #FFF, 1930px 99px #FFF, 531px 1148px #FFF;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1195px 460px #FFF, 1761px 1303px #FFF, 1592px 508px #FFF, 473px 1629px #FFF, 1705px 692px #FFF, 1449px 1902px #FFF, 1242px 32px #FFF, 493px 977px #FFF, 798px 1457px #FFF, 1905px 925px #FFF, 997px 1657px #FFF, 1159px 947px #FFF, 257px 1495px #FFF, 177px 867px #FFF, 438px 459px #FFF, 50px 1445px #FFF, 1140px 36px #FFF, 1994px 1720px #FFF, 638px 404px #FFF, 1394px 365px #FFF, 1044px 1149px #FFF, 1862px 508px #FFF, 1924px 1280px #FFF, 1492px 89px #FFF, 657px 400px #FFF, 1165px 1187px #FFF, 1701px 619px #FFF, 1204px 927px #FFF, 346px 296px #FFF, 1172px 1244px #FFF, 1830px 1853px #FFF, 545px 1293px #FFF, 211px 1781px #FFF, 1906px 983px #FFF, 232px 1831px #FFF, 288px 892px #FFF, 851px 1321px #FFF, 1692px 81px #FFF, 1030px 856px #FFF, 1669px 460px #FFF, 712px 543px #FFF, 414px 1526px #FFF, 779px 1056px #FFF, 1436px 801px #FFF, 1438px 1700px #FFF, 1469px 1613px #FFF, 1466px 1788px #FFF, 1237px 404px #FFF, 645px 1892px #FFF, 1125px 1992px #FFF, 1236px 807px #FFF, 1438px 109px #FFF, 548px 771px #FFF, 1998px 1108px #FFF, 597px 930px #FFF, 1842px 871px #FFF, 537px 824px #FFF, 125px 1865px #FFF, 251px 1296px #FFF, 1453px 1999px #FFF, 1877px 602px #FFF, 977px 53px #FFF, 604px 1121px #FFF, 1872px 472px #FFF, 699px 1764px #FFF, 571px 1451px #FFF, 1683px 1345px #FFF, 370px 330px #FFF, 671px 1814px #FFF, 442px 1943px #FFF, 1542px 1104px #FFF, 1834px 1954px #FFF, 383px 439px #FFF, 1571px 1236px #FFF, 395px 619px #FFF, 306px 817px #FFF, 689px 1208px #FFF, 1247px 1686px #FFF, 500px 1834px #FFF, 207px 460px #FFF, 1282px 880px #FFF, 329px 414px #FFF, 1823px 1351px #FFF, 547px 1468px #FFF, 1670px 122px #FFF, 1532px 897px #FFF, 444px 891px #FFF, 1710px 1972px #FFF, 1980px 1430px #FFF, 1510px 69px #FFF, 1089px 628px #FFF, 1654px 686px #FFF, 367px 481px #FFF, 381px 834px #FFF, 567px 234px #FFF, 129px 1328px #FFF, 1288px 596px #FFF, 596px 1992px #FFF, 1950px 568px #FFF, 533px 1849px #FFF, 533px 572px #FFF, 43px 803px #FFF, 1350px 1951px #FFF, 22px 1615px #FFF, 1615px 161px #FFF, 1918px 408px #FFF, 1094px 1935px #FFF, 1071px 1084px #FFF, 682px 1077px #FFF, 122px 581px #FFF, 1969px 1521px #FFF, 873px 365px #FFF, 1259px 171px #FFF, 1162px 826px #FFF, 1932px 1664px #FFF, 161px 1600px #FFF, 190px 125px #FFF, 188px 179px #FFF, 752px 31px #FFF, 87px 304px #FFF, 1340px 1986px #FFF, 1105px 1076px #FFF, 1209px 1940px #FFF, 1215px 980px #FFF, 1509px 869px #FFF, 990px 1922px #FFF, 1575px 502px #FFF, 276px 288px #FFF, 1165px 892px #FFF, 866px 1447px #FFF, 244px 692px #FFF, 71px 488px #FFF, 91px 1016px #FFF, 1598px 135px #FFF, 1885px 1035px #FFF, 1993px 1569px #FFF, 1870px 1545px #FFF, 1604px 473px #FFF, 1512px 452px #FFF, 1068px 413px #FFF, 719px 985px #FFF, 686px 682px #FFF, 47px 699px #FFF, 1747px 402px #FFF, 1907px 448px #FFF, 752px 777px #FFF, 1317px 488px #FFF, 1974px 175px #FFF, 357px 1364px #FFF, 958px 702px #FFF, 1163px 1396px #FFF, 994px 1075px #FFF, 1567px 1262px #FFF, 366px 771px #FFF, 765px 1506px #FFF, 1119px 1624px #FFF, 1283px 398px #FFF, 1534px 299px #FFF, 368px 915px #FFF, 519px 1016px #FFF, 453px 583px #FFF, 1609px 1728px #FFF, 1121px 974px #FFF, 1756px 1552px #FFF, 1947px 1263px #FFF, 808px 295px #FFF, 317px 1242px #FFF, 1706px 917px #FFF, 1974px 44px #FFF, 522px 559px #FFF, 186px 851px #FFF, 1170px 93px #FFF, 806px 1415px #FFF, 1345px 1583px #FFF, 1285px 407px #FFF, 1723px 420px #FFF, 293px 679px #FFF, 1855px 912px #FFF, 1208px 433px #FFF, 444px 193px #FFF, 137px 1290px #FFF, 493px 1893px #FFF, 1080px 590px #FFF, 1071px 415px #FFF, 1619px 1466px #FFF, 1253px 1140px #FFF, 367px 1341px #FFF, 1236px 42px #FFF, 1684px 536px #FFF, 748px 1348px #FFF, 1137px 1072px #FFF, 869px 269px #FFF, 917px 868px #FFF, 1385px 1712px #FFF, 1629px 37px #FFF, 1551px 571px #FFF, 1299px 520px #FFF, 319px 1602px #FFF, 1930px 99px #FFF, 531px 1148px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 61px 307px #FFF, 970px 1178px #FFF, 1245px 635px #FFF, 1236px 1934px #FFF, 396px 1600px #FFF, 69px 1706px #FFF, 1992px 935px #FFF, 637px 398px #FFF, 82px 57px #FFF, 863px 1027px #FFF, 1082px 1792px #FFF, 649px 64px #FFF, 516px 967px #FFF, 908px 880px #FFF, 695px 1937px #FFF, 1471px 1869px #FFF, 1599px 1580px #FFF, 29px 344px #FFF, 1540px 1523px #FFF, 384px 1139px #FFF, 1994px 769px #FFF, 1257px 1319px #FFF, 1582px 1144px #FFF, 1690px 1584px #FFF, 167px 114px #FFF, 653px 611px #FFF, 1081px 438px #FFF, 749px 1693px #FFF, 666px 1773px #FFF, 1354px 275px #FFF, 1440px 456px #FFF, 14px 234px #FFF, 789px 456px #FFF, 89px 409px #FFF, 288px 1448px #FFF, 1478px 114px #FFF, 1227px 730px #FFF, 1476px 1766px #FFF, 267px 658px #FFF, 1652px 249px #FFF, 1238px 1893px #FFF, 1296px 1403px #FFF, 728px 953px #FFF, 961px 1547px #FFF, 1016px 219px #FFF, 838px 1837px #FFF, 433px 1072px #FFF, 1931px 1612px #FFF, 97px 112px #FFF, 762px 8px #FFF, 454px 1652px #FFF, 254px 152px #FFF, 352px 1179px #FFF, 297px 1245px #FFF, 910px 616px #FFF, 1408px 1048px #FFF, 994px 1534px #FFF, 390px 1785px #FFF, 355px 1288px #FFF, 1688px 1455px #FFF, 365px 836px #FFF, 1160px 1957px #FFF, 1587px 11px #FFF, 1461px 1654px #FFF, 1984px 168px #FFF, 1117px 981px #FFF, 684px 1307px #FFF, 683px 465px #FFF, 1442px 265px #FFF, 1199px 1629px #FFF, 198px 1764px #FFF, 512px 1709px #FFF, 1499px 1340px #FFF, 620px 1035px #FFF, 939px 1447px #FFF, 343px 1348px #FFF, 1056px 1772px #FFF, 863px 1104px #FFF, 148px 898px #FFF, 211px 1380px #FFF, 724px 656px #FFF, 133px 1254px #FFF, 1320px 661px #FFF, 271px 895px #FFF, 886px 1947px #FFF, 450px 516px #FFF, 879px 1147px #FFF, 1739px 1379px #FFF, 608px 90px #FFF, 1494px 1525px #FFF, 904px 982px #FFF, 1074px 977px #FFF, 982px 817px #FFF, 1743px 1803px #FFF, 271px 1661px #FFF, 1351px 402px #FFF, 1829px 458px #FFF, 637px 256px #FFF, 1005px 1391px #FFF, 1637px 1846px #FFF;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 61px 307px #FFF, 970px 1178px #FFF, 1245px 635px #FFF, 1236px 1934px #FFF, 396px 1600px #FFF, 69px 1706px #FFF, 1992px 935px #FFF, 637px 398px #FFF, 82px 57px #FFF, 863px 1027px #FFF, 1082px 1792px #FFF, 649px 64px #FFF, 516px 967px #FFF, 908px 880px #FFF, 695px 1937px #FFF, 1471px 1869px #FFF, 1599px 1580px #FFF, 29px 344px #FFF, 1540px 1523px #FFF, 384px 1139px #FFF, 1994px 769px #FFF, 1257px 1319px #FFF, 1582px 1144px #FFF, 1690px 1584px #FFF, 167px 114px #FFF, 653px 611px #FFF, 1081px 438px #FFF, 749px 1693px #FFF, 666px 1773px #FFF, 1354px 275px #FFF, 1440px 456px #FFF, 14px 234px #FFF, 789px 456px #FFF, 89px 409px #FFF, 288px 1448px #FFF, 1478px 114px #FFF, 1227px 730px #FFF, 1476px 1766px #FFF, 267px 658px #FFF, 1652px 249px #FFF, 1238px 1893px #FFF, 1296px 1403px #FFF, 728px 953px #FFF, 961px 1547px #FFF, 1016px 219px #FFF, 838px 1837px #FFF, 433px 1072px #FFF, 1931px 1612px #FFF, 97px 112px #FFF, 762px 8px #FFF, 454px 1652px #FFF, 254px 152px #FFF, 352px 1179px #FFF, 297px 1245px #FFF, 910px 616px #FFF, 1408px 1048px #FFF, 994px 1534px #FFF, 390px 1785px #FFF, 355px 1288px #FFF, 1688px 1455px #FFF, 365px 836px #FFF, 1160px 1957px #FFF, 1587px 11px #FFF, 1461px 1654px #FFF, 1984px 168px #FFF, 1117px 981px #FFF, 684px 1307px #FFF, 683px 465px #FFF, 1442px 265px #FFF, 1199px 1629px #FFF, 198px 1764px #FFF, 512px 1709px #FFF, 1499px 1340px #FFF, 620px 1035px #FFF, 939px 1447px #FFF, 343px 1348px #FFF, 1056px 1772px #FFF, 863px 1104px #FFF, 148px 898px #FFF, 211px 1380px #FFF, 724px 656px #FFF, 133px 1254px #FFF, 1320px 661px #FFF, 271px 895px #FFF, 886px 1947px #FFF, 450px 516px #FFF, 879px 1147px #FFF, 1739px 1379px #FFF, 608px 90px #FFF, 1494px 1525px #FFF, 904px 982px #FFF, 1074px 977px #FFF, 982px 817px #FFF, 1743px 1803px #FFF, 271px 1661px #FFF, 1351px 402px #FFF, 1829px 458px #FFF, 637px 256px #FFF, 1005px 1391px #FFF, 1637px 1846px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}


/* Code container */
.code-container {
  resize: both;
  overflow: hidden;
  margin: auto;
  width: 90vw;
  height: 90vh;
  min-width: 420px;
  min-height: 255px;
  position: relative;
  --glow-margin: 70px;
  filter: drop-shadow(0 0 75px rgba(0, 92, 8, 0.25));
}

input.sig {
  content: "attr(content)";
  position: absolute;
  bottom: 90px;
  right: 90px;
  z-index: 999;
  color: rgb(255 200 255 / 0.5);
  text-shadow: 0 0 12px rebeccapurple;
  letter-spacing: 0.1em;
  width: calc(100% - 240px);
  background: transparent;
  border: none;
  text-align: right;
  letter-spacing: 0.1em;
}

.code-container::after {
  content: "";
  background: linear-gradient(to right,
      transparent,
      black 25px, black 110px,
      transparent 110px 175px,
      black 175px, black calc(100% - 25px),
      transparent);
  position: absolute;
  top: 125px;
  left: var(--glow-margin);
  right: var(--glow-margin);
  height: 4px;
  display: block;
  z-index: 90;
  opacity: 0.5;
}

.glow-container {
  position: absolute;
  inset: 0;
  display: grid;
  z-index: 2;
  pointer-events: none;
  --glow: drop-shadow(0 0 1px violet);
  filter: var(--glow) brightness(1.5) drop-shadow(0 0 10px violet);
}

.augs {
  --aug-rect-l1: initial;
  --aug-l1-width: 110px;
  --aug-l1-height: 4px;
  --aug-l-center: 57px;

  --aug-rect-r1: initial;
  --aug-r1-width: (100% - 125px - 50px);
  --aug-r1-height: 4px;
  --aug-r-center: 57px;

  --aug-clip-tr1: initial;
  --aug-tr1-alt-join-out: initial;
  --aug-tr1: 17px;
  --aug-clip-tr2: initial;
  --aug-tr2: 17px;
  --aug-tr-extend1: 50px;

  --aug-round-tl1: initial;
  --aug-tl1: 8px;
  --aug-round-br1: initial;
  --aug-br1: 8px;
  margin: auto;
  width: calc(100% - var(--glow-margin) * 2);
  height: calc(100% - var(--glow-margin) * 2);
}

.glow-container .augs {
  --aug-border: initial;
  --aug-border-all: 2px;
  --aug-border-bg: linear-gradient(to bottom left, rgb(0, 104, 14), rgb(89, 0, 255));
}

section.augs {
  position: absolute;
  inset: 0;
  margin: auto;
  --aug-inlay: initial;
  --aug-inlay-all: 2px;
  --aug-inlay-opacity: 0.25;
}

section.augs::before {
  filter: brightness(0.2) blur(10px);
}

.dots {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 110px;
  height: 50px;
  --red: #fc199a;
  --yellow: #ffcc00;
  --green: #61e2ff;
  --close: radial-gradient(circle, var(--red), var(--red) 7px, transparent 8px);
  --min: radial-gradient(circle, var(--yellow), var(--yellow) 7px, transparent 8px);
  --max: radial-gradient(circle, var(--green), var(--green) 7px, transparent 8px);
  background: var(--close) -28px no-repeat,
    var(--min) -2px no-repeat,
    var(--max) 24px no-repeat;
  filter: brightness(0.5);
  opacity: 0.75;
  cursor: pointer;
  border: none;
}

input.title {
  position: absolute;
  top: 17px;
  left: 120px;
  width: calc(100% - 240px);
  background: transparent;
  color: rgb(255 200 255 / 0.5);
  text-shadow: 0 0 12px rebeccapurple;
  border: none;
  text-align: center;
  letter-spacing: 0.1em;
}

.code {
  position: absolute;
  inset: 80px 10px 10px 10px;
  font-size: 20px;
  color: white;
  filter: brightness(1.2);
}

.code * {
  font-size: 18px;
  font-weight: normal;
  color: #b5b4b6;
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}

.bg {
  background: repeating-linear-gradient(to top,
      rgba(255, 255, 255, 0.03) 0px 2px,
      transparent 2px 4px),
    linear-gradient(to bottom, #200933 75%, #3d0b43);
}

.bg::after {
  content: '';
  height: 50%;
  width: 100%;
  display: block;
  background-image: linear-gradient(90deg, rgba(252, 25, 154, .1) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(0deg, rgba(252, 25, 154, .1) 1px, rgba(0, 0, 0, 0) 1px);
  background-position: bottom;
  background-repeat: repeat;
  background-size: 20px 20px;
  left: -25px;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  transform: perspective(100px) rotateX(60deg);
  z-index: 0;
}

.CodeMirror-gutters {
  background: transparent;
  border: none;
  margin-right: 15px;
}

.CodeMirror {
  height: 100%;
  background: transparent;
}

.CodeMirror-linenumber {
  padding-right: 1em;
}

.CodeMirror-overlayscroll-horizontal div,
.CodeMirror-overlayscroll-vertical div {
  background: rgba(153, 99, 255, 0.5);
}

.CodeMirror-scrollbar-filler {
  display: none !important;
}

.cm-header {
  font-weight: 700
}

.cm-strong {
  font-weight: 700
}

.cm-em {
  font-style: italic
}

:root {
  --editor-top-bar-background: black;
  --tab-bg: #131417;
  --tab-border-color: #2a2c33;
  --resizer-background: var(--editor-top-bar-background);
  --resizer-border: #242424
}

.sidebar-false .main-header,
.sidebar-false .main-header .header-wrap,
.editor-footer {
  background: var(--editor-top-bar-background)
}

.CodeMirror-cursor {
  border-left-color: #fff !important
}

.CodeMirror-selected {
  background: rgba(255, 255, 255, .05)
}

.CodeMirror-focused .CodeMirror-selected {
  background: rgba(255, 255, 255, .1)
}

.CodeMirror-matchingbracket {
  border-bottom: 1px solid rgba(255, 255, 255, .5)
}

.CodeMirror-matchingtag {
  border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.cm-searching {
  background: #000;
  outline: 2px solid rgba(255, 255, 255, .25)
}

.CodeMirror-hints,
.emmet-abbreviation-preview {
  border: 1px solid #5a5f73;
  background: #1e1f26
}

.CodeMirror-hint {
  color: #fff
}

li.CodeMirror-hint-active {
  background: #c7c9d3;
  color: #000
}

.project-editor-warning {
  background: rgba(255, 255, 255, .1)
}

.editor-footer {
  border-top-color: var(--resizer-border, var(--cp-color-6))
}

.cm-keyword {
  color: #ffdd40
}

.cm-atom {
  color: #a3d65a
}

.box-html .cm-atom {
  color: #ff3c41
}

.cm-def {
  color: #0ebeff
}

.cm-variable {
  color: #c7c9d3
}

.cm-variable-2 {
  color: #47cf73
}

.cm-variable-3 {
  color: #fff
}

.cm-header {
  color: #ff3c41
}

.cm-number {
  color: #2bc7b9
}

.cm-property {
  color: #5e91f2
}

.cm-attribute {
  color: #e3e4e8
}

.cm-builtin {
  color: #ae63e4
}

.cm-qualifier {
  color: #ffdd40
}

.cm-operator {
  color: #47cf73
}

.cm-meta {
  color: #0ebeff
}

.cm-string {
  color: #2bc7b9
}

.cm-string-2 {
  color: #d75093
}

.cm-tag {
  color: #ffdd40
}

.box-css .cm-tag {
  color: #ff8d41
}

.cm-tag.cm-bracket {
  color: #9b9dad
}

.cm-comment {
  color: #88afbf
}

body.editor {
  background: #131417
}

.box.box.box,
.editor .top-boxes,
.CodeMirror-gutter-wrapper,
body.project .editor-pane,
body.project .editor {
  background: #131417
}

.box.box.box pre,
.editor .top-boxes pre,
.CodeMirror-gutter-wrapper pre,
body.project .editor-pane pre,
body.project .editor pre {
  color: #d5d7de
}

.CodeMirror-guttermarker-subtle,
.CodeMirror-linenumber {
  color: rgba(113, 119, 144, .6)
}

#output pre::-webkit-scrollbar,
#output iframe::-webkit-scrollbar {
  width: .5em;
  height: .5em
}

#output pre::-webkit-scrollbar-thumb,
#output iframe::-webkit-scrollbar-thumb {
  background: #373c49
}

#output pre::-webkit-scrollbar-track,
#output iframe::-webkit-scrollbar-track {
  background: 0 0
}

.CodeMirror-simplescroll-horizontal div,
.CodeMirror-simplescroll-vertical div {
  background: #373c49
}

.powers .mini-button {
  background: #444857
}

.powers .mini-button:hover,
.powers .mini-button:focus {
  background: #c7c9d3
}

.powers .mini-button:hover svg,
.powers .mini-button:focus svg {
  fill: #000
}

.highcontrast-dark .cm-header {
  font-weight: bold
}

.highcontrast-dark .cm-strong {
  font-weight: bold
}

.highcontrast-dark .cm-em {
  font-style: italic
}

.highcontrast-dark .CodeMirror-cursor {
  border-left-color: white !important
}

.highcontrast-dark .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.05)
}

.highcontrast-dark .CodeMirror-focused .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1)
}

.highcontrast-dark .CodeMirror-matchingbracket {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}

.highcontrast-dark .CodeMirror-matchingtag {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.highcontrast-dark .powers {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05)
}

.highcontrast-dark .cm-searching {
  background: black;
  outline: 2px solid rgba(255, 255, 255, 0.25)
}

.highcontrast-dark .CodeMirror-hints,
.highcontrast-dark .emmet-abbreviation-preview {
  border: 1px solid #5a5f73;
  background: #1e1f26
}

.highcontrast-dark .CodeMirror-hint {
  color: white
}

.highcontrast-dark li.CodeMirror-hint-active {
  background: #c7c9d3;
  color: black
}

.highcontrast-dark .project-editor-warning {
  background: rgba(255, 255, 255, 0.1)
}

.highcontrast-dark .cm-atom {
  color: #9963ff;
}

.highcontrast-dark .box-html .cm-atom {
  color: #ff3c41
}

.highcontrast-dark .cm-def,
.highcontrast-dark .cm-variable-2,
.highcontrast-dark .cm-variable,
.highcontrast-dark .box-js .cm-variable+.cm-property {
  color: #61e2ff;
  text-shadow: 0 0 2px #001716, 0 0 5px #03edf933, 0 0 10px #ffff6633;
}

.highcontrast-dark .cm-header {
  color: #ff3c41
}

.highcontrast-dark .cm-builtin {
  color: #ae63e4
}

.highcontrast-dark .cm-number {
  color: #9963ff;
}


.highcontrast-dark .cm-operator,
.highcontrast-dark .cm-variable-3,
.highcontrast-dark .cm-attribute,
.highcontrast-dark .cm-property,
.highcontrast-dark .cm-keyword,
.highcontrast-dark .presentation>.cm-def,
.highcontrast-dark .cm-qualifier {
  color: #fc199a;
  text-shadow: 0 0 2px #393a33, 0 0 35px #ffffff44, 0 0 10px #fc199a, 0 0 2px #fc199a;
}

.highcontrast-dark .cm-operator,
.highcontrast-dark .cm-variable-3,
.highcontrast-dark .cm-attribute,
.highcontrast-dark .cm-property {
  font-style: italic;
}

.highcontrast-dark .cm-meta,
.highcontrast-dark .cm-meta+.cm-property,
.highcontrast-dark .cm-string,
.highcontrast-dark .cm-string-2 {
  color: #9963ff;
  text-shadow: none;
}

.highcontrast-dark .cm-tag,
.highcontrast-dark .cm-callee,
.highcontrast-dark .box-css .cm-tag,
.highcontrast-dark .cm-tag.cm-bracket,
.highcontrast-dark .box-js .cm-property {
  color: #ffcc00;
  text-shadow: 0 0 2px #100c0f, 0 0 3px #ffaa0099, 0 0 5px #ffaa0099, 0 0 10px #ffaa0099;
  font-style: italic;
}

.highcontrast-dark .cm-comment {
  font-style: italic;
  color: #9963ff99;
  text-shadow: 0 0 2px #001716, 0 0 5px #03edf933, 0 0 10px #ffff6633;
}

body.editor.highcontrast-dark {
  background: #241b2f;
}

.highcontrast-dark .box.box.box,
.editor.highcontrast-dark .top-boxes,
.highcontrast-dark .CodeMirror-gutter-wrapper,
body.project.highcontrast-dark .editor-pane,
body.project.highcontrast-dark .editor {
  background: none;
}

.editor.highcontrast-dark .top-boxes {
  --swxfm__c: rgba(153, 99, 255);
  background: repeating-linear-gradient(to top,
      rgba(255, 255, 255, 0.03) 0px 2px,
      transparent 2px 4px),
    linear-gradient(to bottom, #200933 75%, #3d0b43);
}

.editor.highcontrast-dark .top-boxes:after {
  content: '';
  height: 300px;
  width: 100%;
  display: block;
  background-image: linear-gradient(90deg, rgba(252, 25, 154, .1) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(0deg, rgba(252, 25, 154, .1) 1px, rgba(0, 0, 0, 0) 1px);
  background-position: bottom;
  background-repeat: repeat;
  background-size: 20px 20px;
  left: -25px;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  transform: perspective(100px) rotateX(60deg);
  z-index: 0;
}

.highcontrast-dark .box.box.box pre,
.editor.highcontrast-dark .top-boxes pre,
.highcontrast-dark .CodeMirror-gutter-wrapper pre,
body.project.highcontrast-dark .editor-pane pre,
body.project.highcontrast-dark .editor pre {
  color: #b5b4b6;
}

.highcontrast-dark .CodeMirror-guttermarker-subtle,
.highcontrast-dark .CodeMirror-linenumber {
  color: #8a2dc066;
  text-shadow: 0 0 2px #393a33, 0 0 35px #ffffff44, 0 0 10px #8a2dc066, 0 0 2px #8a2dc066;
}

.container,
.container-2 {
  height: 100vh;
}

.container-2 {
  background: #312f3d;
  margin: -16px;
}

.st-mediabar {
  top: 25%;
  margin-left: 10px;
  position: fixed;
}

.st-mediabar .st-table-content li {
  text-align: center;
  margin: 18px 0;
  position: relative;
  transform: rotate(-9deg);
}

.st-mediabar .st-table-content li .fab,
.st-mediabar .st-table-content li .fas,
.st-mediabar .st-table-content li .far {
  font-size: 18px;
  display: block;
  padding: 8px;
  color: #FFFFFF;
  border: 2px solid #a2a3a8;
  border-radius: 0.5em;
}

.st-mediabar .st-table-content li .fab:hover,
.st-mediabar .st-table-content li .fas:hover,
.st-mediabar .st-table-content li .far:hover {
  cursor: pointer;
  color: #1D1E22;
}

.st-mediabar .st-table-content li span {
  white-space: nowrap;
  color: #FFFFFF;
  position: absolute;
  top: 8px;
  left: -150px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

.st-mediabar .st-table-content li:hover span {
  left: 55px;
  opacity: 1;
}

.st-mediabar .st-table-content li:hover .fa-github {
  background: #6f00ff;
  border-color: #6f00ff;
}

.st-mediabar .st-table-content li:hover .fa-instagram {
  background: #d14c2d;
  border-color: #d14c2d;
}

.st-mediabar .st-table-content li:hover .fa-behance {
  background: blue;
  border-color: blue;
}